@mixin auto{
  margin-left: auto;
  margin-right: auto;
}
@mixin per{
  width: 100%;
  height: 100%;
}
@mixin full{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@mixin centerflex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin centerTra{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}
@mixin circle{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius:50%;
}
@mixin borderRadius($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius:$radius;
}
$width:800px;
$row:11;
$bg:'./';
$margin:4px;
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
html , body{
  @include per;
  background: url("#{$bg}bg.jpg") center/cover;
}
.qipan{
  width: $width;
  height: $width;
  background: rgba(255,255,255,0.3);
  position:relative;
  @include centerTra;
  overflow: hidden;
  animation: rotate 1s ease forwards;
  .qizi{
    width: $width / $row - $margin * 6;
    height: $width / $row - $margin * 6;
    border-radius: 50%;
    position: relative;
    margin:$margin * 3;
    float: left;
    z-index: 99;
  }
  .qizi.white{
    background: #FFFFFF;
  }
  .qizi.black{
    background: #000000;
  }
  .zi{
    width: $width / $row - $margin * 16;
    height: $width / $row - $margin * 16;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    animation: fly 1s ease forwards ;
  }
  span:nth-of-type(1){
    top: 2.5 * $width / $row - $margin;
    left: 2.5 * $width / $row - $margin;
  }
  span:nth-of-type(2){
    top: 2.5 * $width / $row - $margin;
    left: 8.5 * $width / $row - $margin;
  }
  span:nth-of-type(3){
    top: 5.5 * $width / $row - $margin;
    left: 5.5 * $width / $row - $margin;
  }
  span:nth-of-type(4){
    top: 8.5 * $width / $row - $margin;
    left: 2.5 * $width / $row - $margin;
  }
  span:nth-of-type(5){
    top: 8.5 * $width / $row - $margin;
    left: 8.5 * $width / $row - $margin;
  }
  b{
    width: $width - $width / $row;
    height: 1px;
    background-color: #000000;
    position: absolute;
    left: $width / $row / 2;
    transform: translate3d(0,-5000px,0);
  }
  i{
    height: $width - $width / $row;
    width: 1px;
    background-color: #000000;
    position: absolute;
    top: $width / $row / 2;
    transform: translate3d(-5000px,0,0);
  }
}
section{
  width: 100px;
  height: 50px;
  background: rgba(255,255,255,0.4);
  border: 1px solid #333333;
  position: relative;
  top: 100px;
  left: 100px;
  text-align: center;
  cursor: pointer;
  .renren{
    width:100%;
    height: 50%;
    border-bottom: 1px solid #333333;
  }
  .renji{
    width:100%;
    height: 50%;
  }
}
.result{
  width: 300px;
  height: 150px;
  background: rgba(255,255,255,0.6);
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  display: none;
  text-align: center;
  line-height: 150px;
  z-index: 100;
  font-size: 30px;
  &.block{
    display: block;
  }
}
@for $i from 1 through $row{
  b:nth-of-type(#{$i}){
    top: (2 * $i - 1) * $width / $row / 2;
    animation: diaoluo 1s ease $i*90ms forwards;
  }
}
@for $i from 1 through $row{
  i:nth-of-type(#{$i}){
    left: (2 * $i - 1) * $width / $row / 2;
    animation: fly 1s ease $i*90ms forwards;
  }
}
@keyframes diaoluo{
  0%{
    transform: translate3d(0,-1000px,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}
@keyframes rotate{
  0%{
    width: 0;
    height: 0;
  }
  100%{
    width: $width;
    height: $width;
  }
}
@keyframes fly{
  0%{
    transform: translate3d(-1000px,0,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}
